/***
 * 
 * Created by : Avineet Bhat
 * Created Date : 9th June 2015
 */

*, *::after, *::before{
    box-sizing: border-box;
}
body{
    --font : monospace;
    margin: 0px;
    height: 150vh;
    background-color: #ede5e5;
}
/* Heading section */
.heading-container{
    background-color: cyan;
    width: 70vw;
    margin: 8vh auto;
    text-align: center;
    padding: 2vh;
    border-radius: 2vw;
    font-weight: bold;
    font-size: 35px;
    font-family: var(--font);
    box-shadow: 0 18px 18px -4px lightblue;
}

/* Todo List Section */
.todo-list-container{
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    width: 70vw;
    height: auto;
    margin: 8vh auto;
    padding: 4vh;
    border-radius: 2vw;
    box-shadow: 0 18px 18px -4px lightgrey;
}

.todo-list-container *{
    flex-grow: 0;
    flex-basis: 2;
}

.todo-list-container .inputElement{
    width: 90%;
    height: 10vh;
    font-size: 5vh;
    padding: 2vw;
    border-radius: 1vw;
    font-family: var(--font);
    margin: 0 4vw ;
}

/* Add Task Button */
.add-task{
    width: 25%;
    font-size: 1.5rem;
    border-radius: 1vw;
    background-color: rgb(79, 79, 197);
    color: white;
    font-family: var(--font);
}

.add-task:hover{
    background-color: blueviolet;
    cursor: pointer;
}

/* Individual Task */
.tasks{
    background-color: cyan;
    width: 60vw;
    max-height: 40vh;
    margin: auto;
    padding: 4vh;
    font-size: 2vw;
    font-family: var(--font);
    border-radius: 2vw;
    overflow-y: scroll;
    box-shadow: 0 18px 18px -4px lightblue;
}
.tasks::-webkit-scrollbar{
    display: none;
}

.tasks ul{
    list-style: none;
    margin: 10px;
}

input[type=checkbox] {
    transform: scale(2);
    margin: 0vw 1vw;
}

/*For the remove icon that appears while hovering the list items  */
.remove-icon{
    display: none;
    font-size: 18px; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
    right: 5%;;
}

li:hover .remove-icon{
    display: block;
}

li{
    position: relative;
    background-color: bisque !important;
    border-radius: 2vw;
    margin: 1vw;
    padding: 2vw;
    box-shadow: 0 8px 8px -4px lightblue;
}

li:hover{
    background-color: rgb(247, 238, 227) !important;
}
#list input:checked + label {
    text-decoration: line-through;
}

p{
    font-size: larger;
    font-family: var(--font);
}

